
.cardContainer {

    border-radius: 10px;
    width:200px;
    margin: 5px;
    height:200px;
    flex: 0 1 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;

}